body {
    font-family: Arial, sans-serif, bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding-top: 20px;
  }
  
  .card {
    background-color: #2cdf8e;
    color: #000;
    border-radius: 10px;
    padding: 90px 100px;
    padding-right: 100px;
    padding-left: 4%;
    text-align: left;
    width: 350px;
  }
  .para{
    font-size: small;
  }
  .card h2 {
    font-size: 40px;
    margin-bottom: 21px;
    font-weight: bold;
  }
  
  .card p {
    font-size: 13px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .card button {
    background-color: white;
    border: none;
    padding: 10px 45px;
    font-size: 16px;
    border-radius: 80px;
    font-weight: bold;
  }
  
  
  