body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    background-color: white; 
}

.container {
    width: 400px;
    background-color: white;
    border: 2px solid lightgray; 
    border-radius: 25px; 
    font-family: sans-serif;
    
  }

  .container img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.container-content {
   
        padding: 20px;

  }

.lock-icon {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;

  }

  h2{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
    color: black;

  }

  .container-content p {

    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
  }

  .button {

    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color:rgb(29, 67, 235);
    text-decoration: none;
    font-weight: bold;
    border: 2px solid lightgray; 
    border-radius: 8px;
   
}
  
.button:hover {
    background-color: white;
}